.event-theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-bottom: 4em;
}

.event-theme img {
  width: 30em;
  max-height: 15em;
}

.event-theme .nav {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.event-theme p {
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: bold;
}

.nav h2 {
  color: var(--header-color);
  font-size: 1.3em;
}

.event-details {
  margin-bottom: 3em;
}
