header {
  height: 13vh;
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
}

header ul {
  background-color: var(--header-color);
  color: var(--secondary-color);
  list-style: none;
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
}
header li {
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 2em;
}

header input {
  background-color: var(--secondary-color);
  font-family: var(--title-font);
  height: 2em;
  border: none;
  border-radius: 8px;
  text-align: center;
}

header input::placeholder {
  color: white;
}

.rabbit-connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rabbit {
  height: 3em;
  width: 3em;
}
.creation-event {
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 1em;
  font-family: var(--text-font);
  border: none;
}
